### Xử lí ảnh

In [1]:
!gdown 1i9dqan21DjQoG5Q_VEvm0LrVwAlXD0vB

Downloading...
From: https://drive.google.com/uc?id=1i9dqan21DjQoG5Q_VEvm0LrVwAlXD0vB
To: c:\Users\loctr\OneDrive - hcmut.edu.vn\AIO\CODESPACE\AIO2024-Exercise\MODULE2\M02EX01\dog.jpeg

  0%|          | 0.00/33.7k [00:00<?, ?B/s]
100%|██████████| 33.7k/33.7k [00:00<00:00, 21.5MB/s]

In [2]:
import matplotlib.image as mpimg
import numpy as np

img = mpimg.imread('dog.jpeg')
gray_img_01 = (np.max(img, axis = 2) + np.min(img, axis = 2)) / 2
gray_img_01[0,0]

102.5

In [3]:
gray_img_02 = np.mean(img, axis = 2)
gray_img_02[0, 0]

107.66666666666667

In [4]:
gray_img_03 = 0.21 * img[:, :, 0] + 0.72 * img[:, :, 1] + 0.07 * img[:, :, 2]
gray_img_03[0,0]

126.22999999999999

### Phân tích dữ liệu dạng bảng

In [5]:
!gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: c:\Users\loctr\OneDrive - hcmut.edu.vn\AIO\CODESPACE\AIO2024-Exercise\MODULE2\M02EX01\advertising.csv

  0%|          | 0.00/4.06k [00:00<?, ?B/s]
100%|██████████| 4.06k/4.06k [00:00<00:00, 4.08MB/s]

In [6]:
import pandas as pd

df = pd.read_csv('advertising.csv')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [7]:
df_np = df.to_numpy()

In [8]:
max_sale = np.max(df_np[:,3])

In [9]:
df[df.Sales == max_sale].index

Index([175], dtype='int64')

In [10]:
df.mean()

TV           147.0425
Radio         23.2640
Newspaper     30.5540
Sales         15.1305
dtype: float64

In [11]:
df1 = df.Sales >= 20
df1.sum()

40

In [12]:
avRadio = df.Radio[df.Sales >= 15].mean()
avRadio

26.22293577981651

In [13]:
df.Newspaper.mean()
df.Newspaper

0      69.2
1      45.1
2      69.3
3      58.5
4      58.4
       ...
195    13.8
196     8.1
197     6.4
198    66.2
199     8.7
Name: Newspaper, Length: 200, dtype: float64

In [14]:
df.Sales[df.Newspaper >= df.Newspaper.mean()].sum()

1405.1

In [15]:
avSales = df.Sales.mean()
avSales

15.130500000000001

In [18]:
Score = np.full(df.Sales.shape,0).astype("str")

Score[df.Sales > avSales] = "Good"
Score[df.Sales == avSales] = "Average"
Score[df.Sales < avSales] = "Bad"
Score[7:10]

array(['Bad', 'Bad', 'Good'], dtype='<U11')

In [52]:
avSales = np.abs(df.Sales - df.Sales.mean()).min()
avSales = df.Sales[(df.Sales - df.Sales.mean()) == avSales]
avSales = avSales.values[0]

In [53]:
Score = np.full(df.Sales.shape,0).astype("str")

Score[df.Sales > avSales] = "Good"
Score[df.Sales == avSales] = "Average"
Score[df.Sales < avSales] = "Bad"
Score[7:10]

array(['Bad', 'Bad', 'Good'], dtype='<U11')